body{
    text-align: center;
    background-image: url("../img/quizimg.jpg");
    background-size: cover;
    
}

h1{
    font-size: 50px;
    font-family: 'Rozha One', serif;
}
div{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 5px;
    font-weight: bold;
}
button{
    margin-top: 10px;
}


@media only screen and (max-device-width: 414px) {
    .question { 
      color: rgb(204, 218, 14)251, 0);
      font-weight: bold;
  }
  }